#t1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}
#t2 {
    color: blue;
}
 p {
    color: black;
}
body {
    background-image: image(Saúde.jpg);
}
/**

